<footer>
    <nav>
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation"><a href="{{path('mentions')}}">Infos légales</a></li>
            <li role="presentation"><a href="#">Qui sommes-nous</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
        </ul>
    </nav>
</footer>
