{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h2 class="text-center">Bienvenue sur BomberManGame !</h2>
    <audio autoplay="autoplay" loop="loop">
        <source src="{{asset('son/Bomba.mp3')}}" type="audio/mp3" />
    </audio>
    <section>
        <p>Partez à la découverte de ce <strong>SPECTACULAIRE</strong> Bomberman-like développé sous Symfony.
            L'objectif de ce jeu (dont l'origine remonte aux années 80) est de poser des bombes
            afin de détruire ses adversaires. Le joueur ayant le plus de points gagne la partie à la fin du temps imparti.</p>
    </section>
    <section>
        <div class="row">
            <img class="col-md-4" src="{{asset('image/capture_ecran_jeu.png')}}" title="screenshot" alt="screenshot"/>
            <p class="col-md-4">Une partie dure 5 min, le nombre de bombes est illimité et les touches sont les suivantes :</p>
            <div class="col-md-4">
                <img src="" title="Z" alt="Z"/>
                <img src="" title="Q" alt="Q"/>
                <img src="" title="S" alt="S"/>
                <img src="" title="D" alt="D"/>
            </div>
        </div>
    </section>
{% endblock %}
