{% extends "AppBundle::base.html.twig" %}

{% block title %}Let's Play !!!!{% endblock %}

{% block body %}
    <h2 class="text-center">Let's Play!</h2>
    <div class="row jumbotron">
        <section class="col-md-8">
        </section>
        <section class="col-md-4">
            <img src="{{asset('image/hud_screenshot.png')}} "title="logo" alt="logo" />
        </section>
    </div>

{% endblock %}
