{% extends 'base.html.twig' %}

{% block body %}
<h2 class="text-center">Le jeu</h2>
<section>
<p>Modern versions of assistive technologies will announce CSS generated content, 
    as well as specific Unicode characters. To avoid unintended and confusing output in screen readers 
    (particularly when icons are used purely for decoration), we hide them with the aria-hidden="true" attribute.
</p>
</section>
<section>
<div class="row">
    <img class="col-md-4 col-md-offset-1" src="{{asset('image/Bomberman_.png')}}" title="screenshot" alt="screenshot"/>
    <img class="col-md-4 col-md-offset-1" src="{{asset('image/Bomberman_.png')}}" title="screenshot" alt="screenshot"/>
</div>
</section>
<section>
<div class="row">
    <img class="col-md-4 col-md-offset-1" src="{{asset('image/Bomberman_.png')}}" title="screenshot" alt="screenshot"/>
    <p class="col-md-4 col-md-offset-1">
        Modern versions of assistive technologies will announce CSS generated content, 
        as well as specific Unicode characters. To avoid unintended and confusing output in screen readers 
    </p>
</div>
</section>
{% endblock %}