<header class="container-fluid">
    <div class="row">
        <img class="col-md-1 col-xs-4 img-circle" src="{{asset('image/WHATWG_logo.png')}}" title="logo" alt="logo"/>
        <a href="#" class="visible-xs-block col-xs-offset-8">Connexion</a>

    </div>

</header>
