{% extends "AppBundle::base.html.twig" %}

{% block title %}Let's Play !!!!{% endblock %}

{% block body %}
    <h2 class="text-center">Let's Play!</h2>
    <div class="row jumbotron">

        <section class="col-md-8">

            {% for y, ligne in board%}
                <div class="ligne">
                    {% for x, case in ligne %}
                        <div id="case_{{x}}_{{y}}" class="case  {% if case.item and case.item.nom == 'wall' %}wall{% elseif case.player %}player{% else %}field{%endif%}"></div>
                    {% endfor%}
                </div>
            {% endfor %}

        </section>
        <section class="col-md-4">
            <img src="{{asset('image/hud_screenshot.png')}} "title="logo" alt="logo" />
        </section>
    </div>

{% endblock %}
{% block javascripts %}
    <script>

        $(document).ready(function () {
            $(window).keyup(function (event) {

                var action;
                var keypress = event.which;
                switch (keypress) {
                    case 90:
                        //console.log("On monte !");

                        action = 'up';

                        break;
                    case 81:
                        //console.log("On va à gauche !");

                        action = 'left';

                        break;
                    case 83:
                        //console.log("On descends !");

                        action = 'down';

                        break;
                    case 68:
                        //console.log("On va à droite !");

                        action = 'right';

                        break;
                }
                var path = {{ path('play', {'action': action, 'id': id}) }};
                        $.ajax({
                            async: true,
                            type: 'POST',
                            url: path
                        });

            });
        });

    </script>
{% endblock %}

