{% extends "AppBundle::base.html.twig" %}

{% block title %}Let's Play !!!!{% endblock %}

{% block body %}
    <h2 class="text-center">Let's Play!</h2>{{id}}
    <div class="row jumbotron">

        <section class="col-md-8">
            {% for y, ligne in board%}
                <div class="ligne">
                    {% for x, case in ligne %}
                        <div id="case_{{x}}_{{y}}" class="case  {% if case.item and case.item.nom == 'wall' %}wall{% elseif case.player %}player{% else %}field{%endif%}"></div>
                    {% endfor%}
                </div>
            {% endfor %}

        </section>
        <section class="col-md-4">
            <img src="{{asset('image/hud_screenshot.png')}} "title="logo" alt="logo" />
        </section>
    </div>

{% endblock %}


