{% for y, ligne in board%}
    <div class="ligne">
        {% for x, case in ligne %}
            <div id="case_{{x}}_{{y}}" class="case  {% if case.item and case.item.nom == 'wall' %}wall{% else %}field{%endif%}">{% if case.player %}<img id="player" src="{{asset('image/sprites/face.png')}}"/>{%endif%}</div>
            {% endfor%}
    </div>
{% endfor %}