section {
    margin-bottom: 10px;
}

header {
    background: url("../image/Super-Bomberman-R.jpg") no-repeat 0px -200px;
}

body{
    height: 800px;
}

.jeu {
    display: flex;
    flex-direction:column;
}

.ligne {
    justify-content: center;
    display: flex;
}

.case {
    justify-content: center;
    height: 2.6em;
    width: 2.6em;
    background: yellow;
    border: solid black 1px;
}