@font-face {
    font-family: 'aurulent_sans_monoregular';
    src: url('aurulentsansmono-regular-webfont.eot');
    src: url('aurulentsansmono-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('aurulentsansmono-regular-webfont.woff2') format('woff2'),
        url('aurulentsansmono-regular-webfont.woff') format('woff'),
        url('aurulentsansmono-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

section {
    margin-bottom: 10px;
}

header {
    background: url("../image/Super-Bomberman-R.jpg") no-repeat 0px -200px;
}

body{
    height: 800px;
}

.jeu {
    display: flex;
    flex-direction:column;
}

.ligne {
    justify-content: center;
    display: flex;
}

.case {
    justify-content: center;
    height: 2.6em;
    width: 2.6em;
    background: url("../image/green.png") no-repeat;
    background-size: cover;
    /*border: solid lightslategray 1px;*/
}

.wall {
    background: url("../image/wall.png") no-repeat;
    background-size: cover;
}

.destruwall {
    background: url("../image/destruwall.png") no-repeat;
    background-size: cover;
}

.player, .bomb {
    width: 100%;
    padding: 7%;
}

.form-item {
    padding: 5px;
    margin: 2px;
}

principal-container {
    margin-top: 15px;
}

#lobby {
    font-family: sans-serif;
    background: #262626;
    color: #5CFF62;
    font-size: 1.2em;
}

td>a:focus, td>a:hover, td>a {
    width: 100%;
    color: #5CFF62 ;
    text-decoration: none;
}

.blur {
    filter : blur(5px);
}

.hud {
    background: url("../image/fondHUD.png");
    height: 475px;
    border: solid 2px black;
    border-radius: 2px;
}

.btn-terminer {
    width: 100%;
}

#attente {
    z-index: 1;
    position: absolute;
    color: snow;
    font-size: xx-large;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 30%;
}

#waitContainer {
    background: #FFF;
}

.flexbox {
    display: flex;
}

.hud {
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5em 0.3em;
}

.case_hud {
    justify-content: space-around;
    background: #FFF;
    border: 2px solid black;
}

.case_hud>p {
    margin-bottom: 0px;
}