{% extends "AppBundle::base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
    <section class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-list"></span> Modifier vos informations </h3>
            </div><br>
            {{form_start(form)}}
            {{form_widget(form)}}
            {{form_end(form)}}
        </div>
    </section>
{% endblock %}
